<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kámen Nůžky Papír<img src="" alt="" sizes="" srcset=""></title>
</head>
<body>
    <h1 class="gameTitle">Kámen, Nůžky, Papír</h1>
    <div class="menu">
        <h3 class="title">Vyber si</h3>
        <div class="selection">
            <a href="/stone"><img src="/static/rock.jpg" width="128"></a>
            <a href="/scissors"><img src="/static/scissors.jpg" width="128"></a>
            <a href="/paper"><img src="/static/paper.jpg" width="128"></a>
        </div>
    </div>
</body>
</html>